
@{
    ViewBag.Title = "Şifremi Unuttum";
}

<div class="container">
    <!-- Content Begin -->
    @using (Html.BeginForm())
    {
        <div class="row my-5">
            <div class="col-md-4 offset-md-4 my-5">
                <form action="/" method="post">
                    <div class="card shadow border-secondary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="fa fa-asterisk fa-4x"></span>
                                </div>
                                <div class="col-md-9 text-right">
                                    <h3>Şifremi Unuttum</h3>
                                    <small>Lütfen E-Posta adresinizi yazınız</small>
                                </div>
                                <div class="text-danger text-right col-md-12"><small > <i>@ViewBag.MyError</i> </small></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="ornek@ornek.com" />
                            </div>

                        </div>
                        <div class="card-footer text-muted text-right">
                            <button type="submit" class="btn btn-success">
                                <span class="fa fa-send mr-2"></span>
                                Gönder
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    }
    <!-- Content End -->

</div>

