body {
    font-family: 'Bree Serif', serif;
}

.shadow {
    -moz-box-shadow: 0 0 8px #000000;
    -webkit-box-shadow: 0 0 8px #000000;
    box-shadow: 0 0 8px #000000;
}

/*DropDown Menü*/
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > a:after {
        content: "\f0da";
        float: right;
        border: none;
        font-family: 'FontAwesome';
    }

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: 0px;
        margin-left: 0px;
    }
/*Drop Down Menü Son*/

.ProductNameStyle{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}